package ${packageName}.entity;

#foreach ($import in $importList)
import ${import};
#end

/**
 * ${entityComment}
 *
 * @author ${author}
 * @date ${datetime}
 */

@Data
@Builder
@ToString
@AllArgsConstructor
@NoArgsConstructor
public class ${ClassName} implements Serializable
{
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
    /** $column.columnComment */
    @FieldDescription(name = "$column.columnName",description = "$column.columnComment")
    private $column.javaType $column.javaField;

#end

}
