package ${packageName}.entity;

#foreach ($import in $importList)
import ${import};
#end

/**
 * ${entityComment}
 *
 * @author ${author}
 * @date ${datetime}
 */

@Data
public class ${ClassName}
{
    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
    /** $column.columnComment */
    @@FieldDescription(name = "${columnName}",description = "${columnComment}")
    private $column.javaType $column.javaField;

#end

}
